    /* UTILITIES */
    
    @import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Raleway', sans-serif;
        background-image: url(/IMG/bg2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    /* NAVBAR STYLING STARTS */
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #114250;
        color: #fff;
    }
    
    .nav-links a {
        color: #fff;
    }
    /* LOGO */
    
    .logo {
        font-family: 'Waterfall', cursive;
        font-size: 40px;
    }
    /* NAVBAR MENU */
    
    .menu {
        display: flex;
        gap: 1em;
        font-size: 16px;
    }
    
    .menu li:hover {
        border-radius: 5px;
        transition: 0.3s ease;
    }
    
    .menu li a:hover {
        color: #C69C6D;
        transition: 0.5;
        -webkit-transition: 0.5;
        -moz-transition: 0.5;
        -ms-transition: 0.5;
        -o-transition: 0.5;
    }
    
    .menu li {
        padding: 5px 14px;
    }
    /* DROPDOWN MENU */
    
    .services {
        position: relative;
    }
    
    .dropdown {
        background-color: #C69C6D;
        color: #114250;
        padding: 1em 0;
        position: absolute;
        /*WITHRESPECTTOPARENT*/
        display: none;
        border-radius: 8px;
        top: 30px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    
    .dropdown li+li {
        margin-top: 10px;
    }
    
    .dropdown li {
        padding: 0.0em 1em;
        width: 10em;
        text-align: left;
    }
    
    .dropdown li:hover {
        color: #114250;
    }
    
    .services:hover .dropdown {
        display: block;
    }
    
    .services:hover .dropdown li a {
        color: #114250;
    }
    /*RESPONSIVE NAVBAR MENU STARTS*/
    /* CHECKBOX HACK */
    
    input[type=checkbox] {
        display: none;
    }
    /*HAMBURGER MENU*/
    
    .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
    }
    /* APPLYING MEDIA QUERIES */
    
    @media (max-width: 768px) {
        .menu {
            display: none;
            position: absolute;
            background-color: #114250;
            right: 0;
            left: 0;
            text-align: center;
            padding: 16px 0;
        }
        .menu li:hover {
            display: inline-block;
            transition: 0.3s ease;
        }
        .menu li+li {
            margin-top: 12px;
        }
        input[type=checkbox]:checked~.menu {
            display: block;
        }
        .hamburger {
            display: block;
        }
        .dropdown {
            left: 50%;
            top: 30px;
            transform: translateX(35%);
        }
        .dropdown li:hover {
            background-color: #4c9e9e;
        }
    }
    /**********************************************/
    
    .container {
        margin: 50px;
    }
    
    .content h1 {
        font-size: 40px;
        color: #C69C6D;
        text-shadow: 2px 2px 2px #114250;
    }
    
    .content h2 {
        font-size: 30px;
        letter-spacing: 5px;
        color: #C69C6D;
        text-shadow: 2px 2px 2px #114250;
    }
    
    .countdown {
        color: #114250;
        font-size: 85px;
    }
    
    .container img {
        height: 150px;
    }
    /**********************************************/
    
    .footer {
        margin-top: 160px;
        background-color: #114250;
        color: #C69C6D;
        font-size: 20px;
        padding: 13px;
        font-weight: 500;
    }